{% extends "base.html" %}

{% block nav %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('admin') }}">Admin</a></li>
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('add_post') }}">Add a post</a></li>
{% endblock %}

{% block header %}
    <div class="site-heading">
        <h1>Flask Blog</h1>
        <span class="subheading">A simple blog, as a flask project</span>
    </div>
{% endblock %}

{% block main %}
    <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                {{ msg }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% for post in posts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ url_for('post', post_id=post.id) }}">
                            <h2 class="post-title"> {{ post.title }} </h2>
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href=" {{ url_for('index') }}">{{ post.author }}</a>
                            on {{ post.date }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                </div>
            </div>
        </div>
{% endblock %}
